/* Made with love by Mutiullah Samim*/

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 70%;
  background-image: url('../img/palacio_municipal.png');
background-size: cover;
background-repeat: no-repeat;

}
#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 30px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.center {
  text-align: center;
}