
.modal1
        {
            position:fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            left:0;
            background-color: white;
            filter: alpha(opacity=60);
            opacity: 0.7;
            -moz-opacity: 0.7;
        }
		.center1
        {
            margin: 300px auto;
            padding: 10px;
            width: 300px;
            background-color: white;
            border-color: black;
            border-radius: 10px;
            filter: alpha(opacity=10);
            opacity: 2;
            -moz-opacity: 1;
            font-size: large;
             color: black;
             border-style: solid;
        }

