
  .desc_history{

    margin:0 auto;

    width: 95%;

    padding: 5px;



    -webkit-box-shadow: 0px 0px 43px -24px rgba(0,77,0,1);

    -moz-box-shadow: 0px 0px 43px -24px rgba(0,77,0,1);

    box-shadow: 0px 0px 43px -24px rgba(0,77,0,1);



  }









  .checkboxFour {

  width: 40px;

  height: 40px;

  background: #ddd;

  margin: 20px 90px;



  border-radius: 100%;

  position: relative;

  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);

}





.checkboxFour label {

  display: block;

  width: 30px;

  height: 30px;

  border-radius: 100px;



  transition: all .5s ease;

  cursor: pointer;

  position: absolute;

  top: 5px;

  left: 5px;

  z-index: 1;



  background: #333;

  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);

}



 */

.checkboxFour input[type=checkbox]:checked + label {

  background: #26ca28;

}





/*  bhoechie tab */

div.bhoechie-tab-container{

  /*

  z-index: 0;

  background-color: #ffffff;

  border-radius: 4px;

  -moz-border-radius: 4px;

  border:1px solid #ddd;

  margin-top: 20px;

  margin-left: 50px;

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);

  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);

  background-clip: padding-box;

  opacity: 0.97;

  filter: alpha(opacity=97);

  */

}

div.bhoechie-tab-menu{

  padding-right: 0;

  padding-left: 0;

  padding-bottom: 0;

}

div.bhoechie-tab-menu div.list-group{

  margin-bottom: 0;

}

div.bhoechie-tab-menu div.list-group>a{

  margin-bottom: 0;

}

div.bhoechie-tab-menu div.list-group>a .glyphicon,

div.bhoechie-tab-menu div.list-group>a .fa {

  color: #5A55A3;

}

div.bhoechie-tab-menu div.list-group>a:first-child{

  border-top-right-radius: 0;

  -moz-border-top-right-radius: 0;

}

div.bhoechie-tab-menu div.list-group>a:last-child{

  border-bottom-right-radius: 0;

  -moz-border-bottom-right-radius: 0;

}

div.bhoechie-tab-menu div.list-group>a.active,

div.bhoechie-tab-menu div.list-group>a.active .glyphicon,

div.bhoechie-tab-menu div.list-group>a.active .fa{

  background-color: #5A55A3;

  background-image: #5A55A3;

  color: #ffffff;

}

div.bhoechie-tab-menu div.list-group>a.active:after{

  content: '';

  position: absolute;

  left: 100%;

  top: 50%;

  margin-top: -13px;

  border-left: 0;

  border-bottom: 13px solid transparent;

  border-top: 13px solid transparent;

  border-left: 10px solid #5A55A3;

}



div.bhoechie-tab-content{

  background-color: #ffffff;

  /* border: 1px solid #eeeeee; */

  padding-left: 20px;

  padding-top: 10px;

}



div.bhoechie-tab div.bhoechie-tab-content:not(.active){

  display: none;

}



.list-group-item {

  background-color: #ccc;

}





.pm1:hover{

  background-color: #7ea0bd;

}

h2 {
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  margin: 3em 0 1em 0;
  font-weight: bold;
}

.antechan, .conschan, .alechan, .menchan, .embchan, .intechan, .explochan, .medichan, .estchan { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #000000; 
  font-size: 15px; 
  font-weight: 400; 
  /* text-align: center;  */
  background: #FFFF80; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 0px 35px; 
  -moz-border-radius: 35px 0px 0px 35px; 
  -webkit-border-radius: 35px 0px 0px 35px; 
  border: 2px solid #5878ca;
  
}



  .pseudoantechan, .pseudoconschan { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #000000; 
  font-size: 15px; 
  font-weight: 400; 
  /* text-align: center;  */
  background: #FFFF80; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 0px 35px; 
  -moz-border-radius: 35px 0px 0px 35px; 
  -webkit-border-radius: 35px 0px 0px 35px; 
  border: 2px solid #5878ca;}
